body {
  background-color: #a7bbc7;
  margin: 0;
  /* PARA ACOMODAR LOS MARGENES A 0 SE DEBE HACER EN ESTE SITIO */
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color:inherit;
}

h1 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75rem
}

p {
  margin: 0;
  line-height: 1.5;
  justify-content: flex-end;
}

/* TOP CONTAINER*/
.topcontainer {
  height: 9.375rem;
  width: auto;
  background-color: #faf3f3;
  position: fixed;
}

.topimg {
  position: relative;
  margin-left: 40.625rem;
  max-width: 45%

}

.topmenu {
  position: relative;
  height: 2.1875rem;
  width: auto;
  background-color: grey;
  margin:auto;
}

.menutable {
  color: white;
}

/*MENU CONTENT */
.midtex {
  margin-left: 18.75rem;
  position: absolute;
  text-align: justify;
}

.QS {
  position: absolute;
  margin-left: 10.9375em;
}
.QS:hover {
  color: black;
}

.MS {
  position: absolute;
  margin-left: 26.5625rem;
}

.MS:hover {
  color: black;
}

.TT {
  position: absolute;
  margin-left: 42.1875rem;
}

.TT:hover {
  color: black;
}

.DZ {
  position: absolute;
  margin-left: 57.8125em;
}

.DZ:hover {
  color: black;
}
.DS {
  position: absolute;
  margin-left: 73.4375rem;
}

.DS:hover {
  color: black;
}

/* MEDIUM CONTAINER */
.midcontainer {
  background-color: #a7bbc7;
  padding-top: 12.5rem;
}

.out {
  text-decoration: underline;
  color: white;
  background-color: purple;
}

.cloud1 {
  display: inline-block;
  position: relative;
}

/* TABLE COLUMNS */
.tit01 {
  text-align: right;
  color: cyan;
}
.txtcol1 {
  width: 35%;
  text-align: justify;
  margin-left: 45rem;
}

.txtcol2 {
  width: 35%;
  text-align: justify;
  margin-left: 14.0625rem;
}

.txtcol3 {
  width: 25%;
  text-align: justify;
  margin-left: 65.625rem;
}

.midimg01 {
  width: 25%;
  float: left;
  margin-left: 14.0625rem;
  padding-top: 3.125rem;
}

.midimg02 {
  width: 25%;
  float: right;
  margin-right: 16.5rem;
  padding-top: 3.125rem;
}

.cloud2 {
  display: inline-block;
  position: relative;
  right: 150px;
}

/* LOW CONTAINER */
.lowcontainer {
  background-color: #da7f8f;
  height: 6.25rem;
  width: auto;
  color: white;
}
